.top_logo{
    text-align: center;  
}
.centrar_cont
{
    text-align: center;
}
.img_xxs{
    width: 25px;
    height: 25px;
}
.img_sm_der{
    padding-top: 40px;
}
.cards{
    padding: 40px;
}
.centrar_mapa{
    padding-bottom: 40px;
}
